.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #222224;
  color: #fff;

}

.flexRowContent--main-header {
  padding: 16px 48px 16px 48px;
  background-color: #222224;


}

.flexRowContent--main-header-mobile {
  align-items: center;

  background-color: #f0f0f0;

}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 16px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #ababab;
  font-size: 16px;
}

/* .flexRow--deals {
 background-image: url(https://demoaccount6.vteximg.com.br/arquivos/image2.png);
  padding: 0px 8px 0px 8px;

  border-radius: 10px;
  margin: 20px 33px 8px 33px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
  padding: 8px;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
} */

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}
