.productHighlightWrapper--collection {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 200px;
}

.productHighlightText {
  background: rgb(100, 197, 91);
  border-radius: 8px;
  padding: 5px 10px;
}
